/* ================= LOGO ================= */
.logo {
    flex-shrink: 0;
}

.logo a {
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo img {
    height: 65px;          /* Cambia este valor */
    width: auto;
    transition: all 0.3s ease;
    object-fit: contain;
}

.navbar.scrolled .logo img {
    height: 45px;          /* Más pequeño al hacer scroll */
}